.game-container {
    grid-area: game;
    display: grid;
    grid-template-rows: 0.1fr 1fr 0.5fr;
    padding-bottom: 10px
}

.game-container > .game > .participants {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.game-container > .game > .participants > .user {
    flex-basis: auto;
    min-width: 100px;
    text-align: center;
    min-height: 100px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 2px;
}

.game-container > .cards {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: auto;
    align-self: center;
}

.game-container > .cards > .card {
    display: grid;
    grid-template-rows: 0.5fr 2fr 0.5fr;
    height: 100%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    min-width: 65px
}

.game-container > .cards > .card:hover {
    transform: scale(1.1, 1.1);
    cursor: pointer;
}

.game-container > .cards > .card > .picture {
    max-width: 60px;
    max-height: 60px;
    align-self: center;
    margin: auto;
}

.game-container > .cards > .card > .number {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}


