<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planning Poker</title>
    <script defer src="/socket.io.min.js"></script>
    <!-- <script defer src="/socket.io/socket.io.js"></script> -->
    <script defer src="/poker.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Welcome</h1>
    <form id="userform">
        <input type="text" name="username" id="username">
        <input type="submit" value="enter">
    </form>
    <div class="status-container"></div>
    <div class="chat-container"></div>
</body>
</html>