<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planning Poker</title>
    <script defer src="/js/socket.io.min.js"></script>
    <script defer src="/js/index.js"></script>
    <script defer src="/js/login.js"></script>
    <script defer src="/js/game.js"></script>
    <script defer src="/js/chat.js"></script>
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/auth.css">
    <link rel="stylesheet" href="/styles/chat.css">
    <link rel="stylesheet" href="/styles/game.css">
</head>

<body>
    <div class="game-container"></div>
    <div class="chat-container"></div>
    <div class="status-container">
        <span class="info">Connecting to socket...</span>
    </div>
    <div class="auth-container">Loading...</div>
</body>

</html>